*.pickle
model_nonLabel_500_9_1
topicDist
Files/Moodle/
Files/Apache/
Files/Atlassian/
Files/Moodle_hitnohit/
Files/Apache_hitnohit/
Files/Atlassian_hitnohit/
Files/Moodle_v1/
Files/Moodle_v2/
Files/Moodle_v3/
.ipynb_checkpoints/
__pycache__/
*_comment.csv
*.csv
*_user.json
topicModel/input/
output*.json
